<div class="container">
  <div class="card">
    <div style="margin:0 auto;">
    <h2>Recherche CIN</h2>
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

      <div>
        <label for="cin">
          Cin :
        </label>
        <input id="cin" type="text" formControlName="cin">
        <button class="btn btn-secondary" type="submit">search</button>
      </div>
    </form>
    </div>
<!--    <h3 class="text-center"> Users List</h3>-->
    <div class="card-body">
      <table class="table table-striped" >
        <thead>
        <th> cin</th>
        <th> First Name</th>
        <th> Last Name</th>
        <th> type finance</th>
        <th> description</th>
        <th> rechercher?</th>
        <th> type de rechercher</th>
        </thead>
        <tbody>
        <tr >
          <td *ngIf="user"> {{ user.cin }}</td>
          <td *ngIf="interiorUser"> {{ interiorUser.firstName }}</td>
          <td *ngIf="interiorUser"> {{ interiorUser.lastName }}</td>
          <td *ngIf="user"> {{ user.type }}</td>
          <td *ngIf="user"> {{ user.description }}</td>
          <td *ngIf="interiorUser"> {{ interiorUser.rechercher }}</td>
          <td *ngIf="interiorUser"> {{ interiorUser.type }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
